.globe-gl-demo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, #000000 0%, #1a1a2e 100%);
  overflow: hidden;
}

.globe-container {
  width: 100%;
  height: 100%;
}

